In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
year = 2019
url = "https://www.pro-football-reference.com/years/{}/fantasy.htm".format(year) #string formatting to manipulate the url by a given year
html = urlopen(url)
soup = BeautifulSoup(html)

In [3]:
headers = [th.getText() for th in soup.findAll('tr')[1].findAll('th')] #Find the second table row tag, find every table header column within it and extract the html text via the get_text method.
headers = headers[1:] #Do not need the first (0 index) column header
print(headers[:5])

['Player', 'Tm', 'FantPos', 'Age', 'G']

In [4]:
rows = soup.findAll('tr', class_ = lambda table_rows: table_rows != "thead") #Here we grab all rows that are not classed as table header rows - football reference throws in a table header row everyy 30 rows 
player_stats = [[td.getText() for td in rows[i].findAll('td')] # get the table data cell text from each table data cell
                for i in range(len(rows))] #for each row
player_stats = player_stats[2:]

In [5]:
stats = pd.DataFrame(player_stats, columns = headers)
stats.head()

,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,TD,...,TD,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,Christian McCaffrey*+,CAR,RB,23,16,16,0,2,0,0,...,19,1,,355,471.2,477.2,413.2,215,1,1
1,Lamar Jackson*+,BAL,QB,22,15,15,265,401,3127,36,...,7,,,416,415.7,429.7,421.7,152,1,2
2,Derrick Henry*,TEN,RB,25,15,15,0,0,0,0,...,18,,,277,294.6,303.6,285.6,136,2,3
3,Aaron Jones,GNB,RB,25,16,16,0,0,0,0,...,19,,,266,314.8,322.8,290.3,125,3,4
4,Ezekiel Elliott*,DAL,RB,24,16,16,0,0,0,0,...,14,,,258,311.7,319.7,284.7,117,4,5