# DSC 530 Professor Jim
# 2.1 Exercise: Preparing for Exploratory Data Analysis
# Author: Brian Reppeto
# 12/7/2023

In [1]:
# Print hello world

print("Hello World!  My name is Brian Reppeto")

Hello World!  My name is Brian Reppeto

In [2]:
# Add 2 numbers together

x=1
y=2
print (x+y)

3

In [3]:
# Subtract 2 numbers

a=10
b=5
print (a-b)

5

In [4]:
# Multiply 2 numbers

f=15
g=3
print (f*g)

45

In [5]:
# Divide 2 numbers

r=20
d=2
print (r/d)

10.0

In [6]:
# Concat two strings

ab ='Merry'
cd =' Christmas'
ef = ab + cd
print (ef)

Merry Christmas

In [4]:
# Creating a List of 4 items

Lists = [5, 10, 15, 20 ]

print("List of numbers: ")
print(Lists)

List of numbers:
[5, 10, 15, 20]

In [5]:
# Append to List of 4 items to create 5 items

Lists.append(14)

print("New list of numbers: ")
print(Lists)

New list of numbers:
[5, 10, 15, 20, 14]

In [3]:
# Tuple with 4 items

Tuple1 = ('Dasher','Prancer')
Tuple2 = ('Vixen','Comet')
Tuple3 = ('Cupid','Donner')
Tuple4 = ('Blitzen','Rudolph')
         
print("\n Santa's Reindeer by rows of two: ")
print(Tuple1)     
print(Tuple2) 
print(Tuple3) 
print(Tuple4)

 Santa's Reindeer by rows of two:
('Dasher', 'Prancer')
('Vixen', 'Comet')
('Cupid', 'Donner')
('Blitzen', 'Rudolph')